body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.logo {
  width: 250px;
  image-rendering: pixelated;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
